.skinImage{
    width: 200px;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

.imageContainer{
    display: block;
    margin: auto;
    position: relative;
    height: 150px;
    width: 200px;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 25px;
}

.weaponItems{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.weaponObject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid black;
    margin: 10px;

}
